기능없음 아이돌 디비 만드는건 미루기로 

<div id="idol_index" style="margin-top: 50px;">

<hr>
	<div class="row">
		<div class="col-md-3">
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object img-circle" src="//image-proxy.namuwikiusercontent.com/r/https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FB0Sw0oOCEAA2eVx.jpg" alt="BTOB" style="width: 100px; height: 100px;">
			    </a>
			  </div>
			  <div class="media-body">
			    <h3 class="media-heading">비투비</h3>
			    <div class="h5">좋아요 72,020</div>
					<a class="btn btn-idol-like"><i class="fa fa-heart-o"></i>&nbsp;좋아요</a>
			  </div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object img-circle" src="//live3.namuwikiusercontent.com/6e/6e35380413208fa985bd566820932aa0fcf84585f34dc3c60b181d6cddb77ad2.png" alt="ioi" style="width: 100px; height: 100px; background-color: tomato;">
			    </a>
			  </div>
			  <div class="media-body">
			    <h3 class="media-heading">레드벨벳</h3>
			    <div class="h5">좋아요 360,772</div>
					<a class="btn btn-idol-like"><i class="fa fa-heart-o"></i>&nbsp;좋아요</a>
			  </div>
			</div>
		</div>
	</div>

<br>	
<hr>
<br>

	<div class="row text-center">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading preview">
					<img src="http://v.phinf.naver.net/20160324_126/1458818987229BDq0D_JPEG/upload_01_white_v.jpg?type=w228" alt="BTOB">
				</div>
				<div class="panel-body">
					<div class="h4">BTB</div>
					<div class="h5">좋아요 72,020</div>
					<a class="btn btn-block btn-idol-like"><i class="fa fa-heart-o"></i>&nbsp;좋아요</a>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading preview">
					<img src="https://image-proxy.namuwikiusercontent.com/r/http%3A%2F%2Fsocdn.smtown.com%2Fupload%2Fstarhome%2Flayout%2Fredvelvet%2Fver06%2Fbg_0314_10.jpg" alt="레드벨벳">
				</div>
				<div class="panel-body">
					<div class="h4">Red Velvet</div>
					<div class="h5">좋아요 360,772</div>
					<a class="btn btn-block btn-idol-like"><i class="fa fa-heart-o"></i>&nbsp;좋아요</a>
				</div>
			</div>
		</div>
	</div>


	
</div>